.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid {
  min-height: 100vh;
}

.container {
  display: inline-grid;
  grid-template-columns: 25vw 75vw;
  /* justify-items: start; */
}

.container-side-bar {
  display: grid;
  grid-template-rows: 80vh 20vh;
}

.item-side-bar-main {
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-side-bar-footer {
  grid-row-start: 2;
}

.item-side-bar {
  grid-column-start: 1;
  grid-row-start: 1;
}

.item-main {
  grid-column-start: 2;
  grid-row-start: 1;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 20%;
}

.item-main-small {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  margin-top: 75px;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 20%;
}